/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #495e57;
}

/* ---------- Hero Section ---------- */
#Hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #495e57;
    padding: 32px 20px;
    z-index: -10;
}

@media (min-width: 768px) {
    #Hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
        padding: 32px 288px;
    }
}

#Hero h1 {
    color: #f4ce14;
    font-weight: 600;
    font-size: 45px;
    padding-top: 8px;
}

#Hero h4 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#Hero p {
    color: #fff;
    font-weight: bold;
    padding: 24px 70px;
    margin: 0;
}

@media (min-width: 768px) {
    #Hero p {
        padding: 24px 0;
        width: 50%;
    }
}

#Hero button {
    background-color: #f4ce14;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    border: none;
}

#Hero button:hover {
    transform: translateY(2px);
}

#Hero img {
    border-radius: 20px;
    margin-top: 40px;
    height: 393px;
    width: 374px;
    z-index: 40;
}

@media (min-width: 768px) {
    #Hero img {
        margin-top: 0;
        width: 24.5rem; /* 98 in Tailwind pixels */
    }
}

/* ---------- Introduction Section ---------- */
#about {
    display: flex;
    flex-direction: column;
    padding: 32px 20px;
}

@media (min-width: 768px) {
    #about {
        flex-direction: row;
        padding: 32px 288px;
    }
}

#about h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}

#about h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

#about p {
    font-size: 17px;
    font-weight: 500;
}

#about img {
    width: 70%;
    margin-left: 60px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    #about img {
        width: 50%;
    }
}

/* ---------- Specials Section ---------- */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 20px;
}

@media (min-width: 768px) {
    #menu {
        padding: 32px 288px;
    }
}

#menu h1 {
    font-size: 45px;
    font-weight: 800;
    margin-top: 10px;
}

#menu button {
    background-color: #f4ce14;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    border: none;
    margin-top: 30px;
}

#menu button:hover {
    transform: translateY(2px);
}

.special-cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    align-items: center;
}

@media (min-width: 768px) {
    .special-cards-container {
        flex-direction: row;
    }
}

/* Specials Card */
.special-card {
    background-color: #edefee;
    border-radius: 20px 20px 0 0;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    cursor: pointer;
    margin: 0 20px;
}

.special-card:hover {
    transform: scale(1.02);
    box-shadow: 1px 0 2px 6px rgba(37,33,33,0.1);
}

.special-card img {
    border-radius: 20px 20px 0 0;
    width: 275px;
    height: 178px;
}

.special-card h4 {
    font-size: 19px;
    font-weight: 600;
}

.special-card p {
    font-size: 16px;
    color: #495e57;
    width: 230px;
}

/* ---------- Reviews Section ---------- */
#reviews-section {
    display: flex;
    flex-direction: column;
    background-color: #495e57;
    padding: 42px 20px;
    color: white;
}

@media (min-width: 768px) {
    #reviews-section {
        flex-direction: row;
        padding: 32px 288px;
    }
}

.review-card {
    background-color: white;
    color: #495e57;
    width: 220px;
    height: 160px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.review-card:hover {
    height: 220px;
}

/* Review stars */
.review-stars div {
    background-color: #f4ce14;
    padding: 3px;
    border-radius: 2px;
}

/* ---------- Reservation Form ---------- */
.reservation-form {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 32px 64px;
}

.reservation-form input,
.reservation-form select {
    width: 200%;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 900px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .reservation-form .flex-row {
        flex-direction: row;
        gap: 150px;
    }
}

/* Buttons */
button {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

button:hover {
    transform: translateY(2px);
}

/* ---------- Payment Section ---------- */
.payment-form {
    background-color: #edefee;
    border-radius: 20px;
    padding: 32px 44px;
}

.payment-form input {
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 14px;
    padding: 16px;
    height: 41px;
}

/* ---------- Success Section ---------- */
.success-section {
    background-color: #edefee;
    border-radius: 20px;
    padding: 32px 64px;
    text-align: center;
    margin-top: 50px;
}

.success-section img {
    margin: 0 auto;
}

.success-section p {
    margin-top: 20px;
    font-size: 16px;
}
